{% extends "base.html" %}
{% load static %}

{% block content %}





 <section class="ftco-section bg-light">
     <h2 style="text-align: center; margin-top: 15px; ">{{ category.name }} Books</h2>
    	<div class="container">

    		<div class="row">

    			<div class="col-md-8 col-lg-10 order-md-last">
    				<div class="row">
                      {%for book in books %}
		    			<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
		    				<div class="product d-flex flex-column">
								  {% if book.image %}
		    					<a href="#" class="img-prod"><img class="img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
		    						<div class="overlay"></div>
		    					</a>
								{% endif %}
		    					<div class="text py-3 pb-4 px-3">
		    						<div class="d-flex">
		    							<div class="cat">
				    						<span>Lifestyle</span>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right mb-0">
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    								<a href="#"><span class="ion-ios-star-outline"></span></a>
			    							</p>
			    						</div>
			    					</div>
		    						<h3><a href="#">{{ book.title }}</a></h3>
		    						<div class="pricing">
			    						<p class="price"><span>${{ book.price }}</span></p>
			    					</div>
			    					<p class="bottom-area d-flex px-3">
		    							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
		    							<a href="/product/{{ book.id }}/" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
						{% endfor %}
		    		</div>
		    		<div class="row mt-5">
					  <div class="col text-center">
						<div class="block-27">
						  <ul>
							<li><a href="#">&lt;</a></li>
							<li class="active"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&gt;</a></li>
						  </ul>
						</div>
					  </div>
		            </div>
		    	</div>


				<div class="col-md-4 col-lg-2">
		    		<div class="sidebar">
						<div class="sidebar-box-2">
							<h4 class="heading">Ads</h4>
<!--							<div class="fancy-collapse-panel">-->

<!--								 <ul>-->
<!--									{% for category in categories %}-->
<!--									<li><a href="/category/{{ category.id }}/">{{ category.name }}</a></li>-->
<!--									{% endfor %}-->
<!--								</ul>-->

<!--				            </div>-->
			            </div>
                    </div>
			    </div>





    		</div>
    	</div>
    </section>


{% endblock %}