{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- wishlist.html -->

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    {% for book in wishlist_books %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        <div class="product">
                            <a href="#" class="img-prod">
                                <img class="img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3">
                                <h3><a href="#">{{ book.title }}</a></h3>
                                <p class="price"><span>${{ book.price }}</span></p>
                                <p>{{ book.author.name }}</p>
                                
                                <p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                    <a href="/remove_from_wishlist/{{ book.slug }}/" class="btn btn-danger">Remove</a>
                                </p> 
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <li>Your wishlist is empty.</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
